{{!-- display post --}}
<form class="body-img" action="#">
    <div class="body-sections-img">
        <img src="/api/posts/images/{{file_src}}" alt="" />
    </div>

    <div class="img-info-description">
        <p class="img-info-text">
            <span style="font-weight: bold; font-size: 20px">{{username}}</span><br></br>
            <span style="font-weight: bold">{{post_title}}</span> {{post_description}}<br></br>
            <span class="purchase_amount" style="font-weight: bold">Amount: </span>${{price}}
        </p>
        <button type="button" onclick="/post/{{post_id}}" id="btn-one">comment</button>
        <button type="button" class="buy-btn" id="btn-one">Buy</button>
        <span class="user_id">{{current_user_id}}</span>
        <span class="post_id">{{post_id}}</span>
    </div>
<<<<<<< HEAD
</form> 
=======
</form>
<img id="comment-pic" src="./images/COMMENT.jpeg" alt="white rocky background">
     <div id="post-img">
      
    
    <h3>Upload Image</h3>
    <form id="post-on-img">
      <textarea
            name="upload-post"
            placeholder="Write post description"
            id="upload-post"
            style="font-family: sans-serif; font-size: 1em"
       ></textarea>
      <<br></br>
      <button id="upload-btn" onclick="('post')">
        Submit
      </button> 
    </form>
    <br></br>
    <form method="POST" action="/api/images" enctype="multipart/form-data">
      <input type="file" name="image" accept="image/*" />
      <input type="submit" value="Upload" />
    </form>

  </div>
  </body>
  <script src="./javascript/add-post.js"></script>
>>>>>>> aa80b0911e6411e445233f28d7f395fba98f8745
