{{!-- display post --}}
<form class="body-img" action="#">
    <div class="body-sections-img">
        <img src="/api/posts/images/{{file_src}}" alt="" />
    </div>

    <div class="img-info-description">
        <p class="img-info-text">
            <span style="font-weight: bold; font-size: 20px">{{username}}</span><br></br>
            <span style="font-weight: bold">{{post_title}}</span> {{post_description}}<br></br>
            <span style="font-weight: bold">Amount: </span>${{price}}
        </p>
        <button type="button" onclick="/post/{{id}}" id="btn-one">comment</button>
        <button type="button" class="buy-btn" id="btn-one">Buy</button>
        <span class="purchase_amount">{{price}}</span>
        <span class="user_id">{{current_user_id}}</span>
        <span class="post_id">{{id}}</span>
    </div>
</form> 
